* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.espaco {
    margin-top: 25px;
}

footer {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}